{% extends 'base.html' %}
{% block content %}
<div class="message-box">
	<h2> Chat Room {{ code }} </h2>
	<div class="messages" id="messages">
		<!-- for rendering messages -->
	</div>
	<div class="input">
		<!-- Changed input to textarea -->
		<textarea rows="2" placeholder="Enter your message..." name="message" id="message"></textarea>
		<button type="button" name="send" id="send-btn" onclick="sendMessage()">
			Send
		</button>
	</div>
</div>

<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script type="text/javascript">
	var socketio = io();
	const messages = document.getElementById("messages");
	const messageInput = document.getElementById("message");

	const createMessage = (name, msg) => {
		const content = `
    	        <div class="text">
    	            <span><strong>${name}</strong>: ${msg}</span>
    	            <span class="muted">${new Date().toLocaleString()}</span>
    	        </div>
    	    `;
		messages.innerHTML += content;
		// Auto-scroll to the latest message
		messages.scrollTop = messages.scrollHeight;
	};

	socketio.on("message", (data) => {
		createMessage(data.name, data.message);
	});

	const sendMessage = () => {
		if (messageInput.value.trim() === "") return;
		socketio.emit("message", { data: messageInput.value });
		messageInput.value = "";
	};

	// Event listener to handle Enter and Shift+Enter
	messageInput.addEventListener("keydown", (event) => {
		if (event.key === "Enter" && !event.shiftKey) {
			event.preventDefault(); // Prevents adding a new line
			sendMessage();
		}
	});
</script>

{% for msg in messages %}
<script type="text/javascript">
	createMessage("{{msg.name}}", "{{msg.message}}");
</script>
{% endfor %}
{% endblock %}